<meta charset="utf-8">

<title><%= title %></title>
<link rel='icon' href='../images/favicon.ico' type='image/x-icon'/ >
<meta name="description" content="A template app for building Express/Mongoose.">
<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

